<!-- app/views/themes/_form.html.erb -->

<%= form_with model: theme, local: true do |form| %>
  <%= render "shared/errors", obj: theme %>
  <div class="form-group">
    <%= form.label "質問のタイトル(85文字以内)(,/&の文字は使えません。)" %>
    <%= form.text_field :title, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.label "詳細(なくてもOK)" %>
    <%= form.text_area :description, rows: 10, class: "form-control" %>
  </div>
  <%= form.submit class: "btn btn-primary" %>
<% end %>