<!-- app/views/shared/_header.html.erb -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">

  <%= link_to "募集箱", root_path, class: "navbar-brand display-1" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarToggler">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <% if logged_in? %>
        <li class="nav-item">
          <%= link_to "過去の質問", themes_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "新しい質問", new_theme_path, class: "nav-link" %>
        </li>
      <% end %>
      <li class="nav-item">
        <% if logged_in? %>
          <%= link_to 'ログアウト', logout_path, class: "nav-link" %>
        <% else %>
          <%= link_to 'Twitterでログイン', '/auth/twitter', class: "nav-link" %>
        <% end %>
      </li>
    </ul>
    <% if logged_in? %>
      <ul class="navbar-nav mt-2 mt-lg-0 float-right">

        <li class="nav-item"><img src="<%= current_user.image_url %>" alt=""></li>
      </ul>
    <% end %>
  </div>
</nav>