<% set_meta_tags og: { image: "https://res.cloudinary.com/hibiki/image/upload/l_text:Sawarabi%20Gothic_35:#{URI.encode_www_form_component(@theme.title)},co_rgb:FFF,y_-140,w_600,c_fit/l_text:Sawarabi%20Gothic_35:#{URI.encode_www_form_component(@answer.body)},co_rgb:000,y_20,w_600,c_fit/v1569408531/ogp/ogp_answer_ewkmvp.png" } %>

<div class="mx-auto mt-5">
  <img src=<%= "https://res.cloudinary.com/hibiki/image/upload/l_text:Sawarabi%20Gothic_35:#{URI.encode_www_form_component(@theme.title)},co_rgb:FFF,y_-140,w_600,c_fit/l_text:Sawarabi%20Gothic_35:#{URI.encode_www_form_component(@answer.body)},co_rgb:000,y_20,w_600,c_fit/v1569408531/ogp/ogp_answer_ewkmvp.png" %> alt="" class="">
  <br>
  <%= link_to '戻る', theme_path(id: @theme.id), class: "btn btn-primary my-3 ml-1" %>

<!-- reply_link -->
<div class="col-md-10 offset-md-1 mt-3">
  <h2 class="text-center">返答をツイートする</h2>
  <%= form_with(url: reply_path, method: :post, local: true) do |form| %>
    <%= render "shared/errors", obj: @answer %>
    <div class="form-group">
      <%= form.text_area :reply, rows: 10, class: "form-control" %>
    </div>
    <%= form.submit "ツイートする", class: "btn btn-primary" %>
  <% end %>
</div>

</div>